certifi==2023.11.17
charset-normalizer==2.0.12
cos-python-sdk-v5==1.9.15
crcmod==1.7
DateTime==5.4
dicttoxml==1.7.16
idna==3.6
jieba==0.42.1
nest-asyncio==1.5.4
numpy==1.26.3
prompt-toolkit==3.0.28
pycryptodome==3.20.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.26.0
six==1.16.0
urllib3==1.26.18
wcwidth==0.2.13
xlwt==1.3.0
zope.interface==6.1
